/* Custom Stylesheet */
/**
* Use this file to override Materialize files so you can update
* the core Materialize files in the future
*
* Made By MaterializeCSS.com
*/
/*
nav ul a,
nav .brand-logo {
color: #444;
}

p {
line-height: 2rem;
}

.button-collapse {
color: #26a69a;
}

.parallax-container {
min-height: 380px;
line-height: 0;
height: auto;
color: rgba(255,255,255,.9);
}
.parallax-container .section {
width: 100%;
}


.fondo-movil{
height: 100% !important;
width: 100% !important;
}
.logo-movil{
background-color: cornsilk;
border-radius: 5px;
padding: 7px;
}
.name,
.email{
font-weight: 500 !important;
}
@media only screen and (max-width : 992px) {
.parallax-container .section {
position: absolute;
top: 40%;
}
#index-banner .section {
top: 10%;
}
}

@media only screen and (max-width : 600px) {
#index-banner .section {
top: 0;
}
}

.icon-block {
padding: 0 15px;
}
.icon-block .material-icons {
font-size: inherit;
}

footer .container {
padding-bottom: 1rem;
}

footer.page-footer {
margin: 0;
}
*/
body {
  background: #319e73;
}
nav{
  background-color: transparent !important;
  box-shadow: none;
}
nav a {
  color: #4DB6AC;
}
nav ul a{
  color: #4DB6AC;
}
nav ul a:hover {
  background-color: rgba(0,0,0,0.3);
}
.bolt{
  font-weight: bold;
}
#index-banner{
  height: 105vh;
  z-index: -5;
}
.parallax-container{
  top: -100px;
}
.user-view{
  height: 11rem;
}
.background{
  opacity: 0.8;
}
.circle{
  height: 7rem !important;
  width: 7rem !important;
}
.img-circle{
  position: absolute;
  top: 6rem;
}
.user-view{
  margin-bottom: 2rem !important;
}
.email-font{
  font-size: 12px !important;
  padding-right: 5px !important;
}
.side-nav{
  background-color: #66d4cf !important;
}
#Iam{
  z-index: 5;
  padding: 2.5rem 0;
  position: relative;
  top: -101px;
}
.iam{
  margin: 1rem 0;
}
#proyec{
  bottom: 50px;
  margin-top: 7rem;
  position: relative;
}
.page-footer{
  height: 7rem;
}
.text-footer{
  font-size: 1.3rem;
}
.margin-top1{
  margin-top: 1rem;
}
.sass{
  height: 128px;
}
.margin-bottom1{
  margin-bottom: 1rem;
}
footer .row{
  background-color: #1f6f52 !important;
  height: 100%;
  margin-bottom: 0;
  padding-bottom: 1em;
}
.card{
  border-radius: 2rem !important;
  overflow: hidden;
}
